.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: orange;
    font-weight: bold;
    border-radius: 5px;

}
.pagination a:hover:not(.active){
    background-color: rgb(251, 214, 134);
    background-origin: 5px;
    border-radius: 5px;
}
body{
    background-color: rgb(194, 248, 194);
}